*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body{
	font-family: 'Poppins', sans-serif;
	background: linear-gradient(135deg,#74ebd5 0%, #ACB6E5 100%);
	min-height:100vh;
	display:flex;
	align-items:center;
	justify-content:center;
}

.container{
	background:#fff;
	padding:40px 50px;
	border-radius:15px;
	box-shadow:0 8px 20px rgba(0,0,0,0.1);
	width:450px;
	max-width:95%;
}

h2{
	text-align:center;
	color:#333;
	margin-bottom:25px;
	font-size:24px;
}

form lebel, form:label{
	display:block;
	margin-top:15px;
	color:#333;
	font-weight:600;
	font-size:15px;
}

.text-input,
form input[type="text"],
form input[type="email"],
form input[type="number"],
form input[type="password"],
form select,
form textarea{
	width:100%;
	padding:10px 12px;
	margin-top:6px;
	border-radius:8px;
	font-size:14px;
	transition:all 0.3s ease;
}

.text-input:focus,
form input:focus,
form select:focus,
form textarea:focus{
	border-color:#74b9ff;
	box-shadow:0 0 4px rgba(116, 185, 255, 0.5);
	outline:none;
}

input[type="radio"],
input[type="checkbox"]{
	margin-right:8px;
}

button[type="submit"]{
	display:block;
	width:100%;
	background:#0984e3;
	color:#fff;
	font-weight:600;
	font-size:16px;
	padding:12px;
	border:none;
	border-radius:10px;
	margin-top:20px;
	cursor:pointer;
	transition:all 0.3s ease;
}

button[type="submit"]:hover{
	background:#74b9ff;
}

a{
	display:inline-block;
	margin-top:15px;
	color:#0984e3;
	text-decoration:none;
	font-size:14px;
	transition:color 0.3s ease;
}

a:hover{
	color:#74b9ff;
}

@media (max-width:480px){
	.container{
	padding:25px 20px;
	}
	
	h2{
	font-size:20px;
	}
	
	button[type="submit"]{
	font-size:14px;
	padding:10px;
	}
}

.summary-container{
	background:#fff;
	width:60%;
	margin:auto;
	padding:25px;
	border-radius:12px;
	box-shadow:0 4px 12px rgba(0,0,0,0.1);
}

.summary-container p{
	font-size:16px;
	margin:10px 0;
	color:#444;
}

.sub-heading{
	margin-top:20px;
	color:#222;
	border-left:4px solid #007bff;
	padding-left:10px;
}

.list{
	margin-left:25px;
}

.no-data{
	color:#777;
	font-style:italic;
}

.summary-button{
	display:inline-block;
	margin-top:25px;
	padding:10px 18px;
	background:#007bff;
	color:#fff;
	text-decoration:none;
	border-radius:8px;
	transition:0.3s;
}

.summary-button:hover{
	background:#0056b3;
}
