*{
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f8f1ff;
	color:#4a4a4a;
}

body{
	padding:30px;
}


.btn{
	padding:10px 18px;
	margin: 20px 5px;
	background: #a687ff;
	color:white;
	border:none;
	border-radius:8px;
	cursor:pointer;
	font-size:14px;
	transition:0.2s;
	box-shadow:0 3px 6px rgba(0,0,0,0.15);
}

.btn:hover{
	background:#8a6bff;
	transform:translateY(-2px);
}

#controls{
	margin-bottom:20px;
}

#demo-form, #addForm{
	background:white;
	padding:20px;
	border-radius:12px;
	width:320px;
	box-shadow:0 3px 8px rgba(0,0,0,0.1);
	margin-bottom:20px;
}

#demo-form label{
	font-weight:600;
}

#demo-form input, 
#task-input, 
#addForm input,
#temp, #mode{
	width:280px;
	padding:10px;
	margin-top:8px;
	margin-bottom:15px;
	border-radius:6px;
	outline:none;
	transition:0.2s;
}

#demo-form input:focus, 
#addForm input:focus{
	border-color:#a687ff;
	box-shadow:0 0 5px #d5c9ff;
}

#items-list, 
#task-list, 
#usersList{
	list-style:none;
	padding:0;
}

.item, .task-item{
	width:300px;
	background:white;
	padding:12px;
	border-radius:10px;
	margin:8px 0;
	box-shadow:0 2px 6px rgba(0,0,100,0.1);
	transition:0.2s;
}

.item:hover{
	transform:scale(1.02);
	background:#f2e9ff;
}

#log{
	margin-top:20px;
	padding:10px;
	background:#fff;
	border-left:4px solid #a687ff;
	min-height:40px;
	border-radius:8px;
	font-size:14px;
	border-radius:8px;
	font-size:14px;
	box-shadow:0 2px 6px rgba(0,0,100,0.1);
}

.todo-container{
	width:90%;
	background:white;
	padding:12px;
	border-radius:10px;
	margin:8px 0;
	box-shadow:0 2px 6px rgba(0,0,100,0.1);
	transition:0.2s;
}

.btn-delete{
	padding:10px 18px;
	margin: 20px 5px;
	background: red;
	color:white;
	border:none;
	border-radius:8px;
	cursor:pointer;
	font-size:14px;
	transition:0.2s;
	box-shadow:0 3px 6px rgba(0,0,0,0.15);
}

.btn-delete:hover{
	transform:translateY(-2px);
}


